[submodule "submodule-repo"]
	path = submodule-repo
	url = https://github.com/Saurabhj87/submodule-repo.git
[submodule "submodule1"]
	path = submodule1
	url = https://github.com/Saurabhj87/submodule1.git
