[submodule "submodule-repo"]
	path = submodule-repo
	url = https://x-token-auth:ATCTT3xFfGN0KdlP4Pd8Qa7y96K21MDTSMe_sZw9PGc_BVz37Bww2FR0_mNxUnaoHcQMRsmuY4D-DOyG2lxqkaeo01oBMUkM3euMRwFHYkgTZSF1kc8ZFsfA8ahFb_ZWOYD_OTs6W4AgReoZN2kTS6W5jATBIAygInRkIa3vsnGfh9whObIP4EM=0C27522F@bitbucket.org/Saurabhj87/submodule-repo.git
